body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 40px 0
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}
.container {
	max-width: 1228px;
	margin: 0 auto
}
.introduction .banner-image {
	overflow: hidden;
	border-radius: 15px;
	line-height: 0
}
.introduction .banner-image img {
	width: 100%;
	height: 160px;
	object-fit: cover
}
.introduction .flex__group--text {
	padding: 30px 0
}
.introduction .flex__group--image {
	text-align: center
}
.introduction .flex__group--image img {
	position: relative;
	top: -60px;
	width: 75%
}
.introduction h1 {
	margin: .67 0;
	font-size: 44px;
	font-weight: 400;
	line-height: 46px
}
.introduction h3 {
	display: inline-block;
	margin-bottom: 0;
	padding: 5px 10px;
	color: #fff;
	background-color: #c00;
	font-size: 15px;
	line-height: 26px
}
.product {
	position: relative;
	display: flex;
	overflow: hidden;
	align-items: center;
	transition: all .3s;
	border-radius: 10px;
	background-color: #fff;
	font-size: 14px
}
.product.has-hover {
	box-shadow: 0 0 30px rgba(0, 0, 0, .1)
}
.product.has-hover :focus, .product.has-hover:hover {
	box-shadow: 0 0 60px rgba(0, 0, 0, .25)
}
.product.no-hover {
	border: 2px solid #ccc
}
.product--title {
	margin-top: 0;
	margin-bottom: 0;
	color: #333;
	font-size: 20px;
	font-weight: 700
}
.product.active:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border: 2px solid #c00;
	border-radius: 10px
}
.product--image {
	width: 128px;
	padding: 10px;
	line-height: 0
}
@media screen and (min-width:980px) {
	.product--image {
		width: 188px
}
}
.product--image img {
	width: 108px;
	height: 100%;
	min-height: 128px;
	object-fit: contain
}
@media screen and (min-width:980px) {
	.product--image img {
		width: 188px;
		min-height: 188px
}
}
.product--details {
	padding: 20px;
	text-align: left
}
button.product {
	appearance: none;
	padding: 0;
	border: none
}
button.product:focus, button.product:hover {
	cursor: pointer
}
.selection-overview {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	padding: 10px 0
}
.selection-overview.no-margin {
	margin: 0
}
.balloon {
	overflow: hidden;
	max-height: 0;
	margin-top: -29px;
	margin-bottom: 1rem;
	opacity: 0
}
.balloon--open {
	max-height: 100vh;
	opacity: 1
}
.balloon__inner {
	margin: 0!important;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #f6f6f6
}
.balloon__icon {
	padding-left: 20px
}
.filters label {
	display: flex
}
.help {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	margin-left: auto;
	cursor: pointer;
	color: #f6f6f6;
	border: none;
	border-radius: 50%;
	background-color: #ccc;
	box-shadow: none;
	font-size: 12px;
	font-weight: 700;
	appearance: none
}
.form-item--help, .help {
	position: relative
}
.form-item--help:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: calc(50% - 5px);
	display: block;
	width: 1px;
	height: 1px;
	filter: drop-shadow(0 -1px 0 #ccc);
	border-right: 10px solid transparent;
	border-bottom: 15px solid #f6f6f6;
	border-left: 10px solid transparent
}
.tooltip {
	position: relative;
	appearance: none;
	border: none;
	box-shadow: none
}
.tooltip:focus:before, .tooltip:hover:before {
	content: attr(data-tooltip);
	position: absolute;
	top: -10px;
	left: 0;
	display: inline-block;
	padding: 6px 10px;
	transform: translate(-50%, -100%);
	white-space: nowrap;
	color: #333;
	border-radius: 5px;
	background-color: #ccc;
	font-size: .8rem
}
.tooltip:focus:after, .tooltip:hover:after {
	content: "";
	position: absolute;
	top: -10px;
	left: 2px;
	display: block;
	border-top: 8px solid #ccc;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent
}
.select-option {
	padding: .5em .8em;
	cursor: pointer
}
.select-option:focus, .select-option:hover {
	background-color: #f6f6f6
}
.select-option__description {
	opacity: .8;
	font-size: .7em;
	font-style: italic
}
.slider__wrapper {
	display: flex;
	align-items: center;
	height: 38px;
	margin: 0 -5px
}
.slider__wrapper>* {
	margin: 0 5px
}
.slider__wrapper .slider__control {
	flex: 1
}
.slider .rc-slider-track {
	background-color: #333
}
.slider .rc-slider-handle {
	border-color: #ccc
}
.slider .rc-slider-handle:active, .slider .rc-slider-handle:hover {
	border-color: #c00
}
.slider__field {
	height: 38px;
	padding: 0 5px;
	border: 1px solid #ccc;
	box-shadow: none;
	appearance: none;
	font-size: 14px
}
.slider__range {
	display: flex;
	width: 100%;
	font-size: 12px
}
.slider__range__max {
	margin-left: auto
}
.rc-slider {
	position: relative;
	height: 14px;
	padding: 5px 0;
	width: 100%;
	border-radius: 6px;
	touch-action: none
}
.rc-slider, .rc-slider * {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.rc-slider-rail {
	width: 100%;
	background-color: #e9e9e9
}
.rc-slider-rail, .rc-slider-track {
	position: absolute;
	height: 4px;
	border-radius: 6px
}
.rc-slider-track {
	left: 0;
	background-color: #abe2fb
}
.rc-slider-handle {
	position: absolute;
	width: 14px;
	height: 14px;
	cursor: pointer;
	cursor: -webkit-grab;
	margin-top: -5px;
	cursor: grab;
	border-radius: 50%;
	border: 2px solid #96dbfa;
	background-color: #fff;
	touch-action: pan-x
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
	border-color: #57c5f7;
	box-shadow: 0 0 0 5px #96dbfa
}
.rc-slider-handle:focus {
	outline: none
}
.rc-slider-handle-click-focused:focus {
	border-color: #96dbfa;
	box-shadow: unset
}
.rc-slider-handle:hover {
	border-color: #57c5f7
}
.rc-slider-handle:active {
	border-color: #57c5f7;
	box-shadow: 0 0 5px #57c5f7;
	cursor: -webkit-grabbing;
	cursor: grabbing
}
.rc-slider-mark {
	position: absolute;
	top: 18px;
	left: 0;
	width: 100%;
	font-size: 12px
}
.rc-slider-mark-text {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	color: #999
}
.rc-slider-mark-text-active {
	color: #666
}
.rc-slider-step {
	position: absolute;
	width: 100%;
	height: 4px;
	background: transparent
}
.rc-slider-dot {
	position: absolute;
	bottom: -2px;
	margin-left: -4px;
	width: 8px;
	height: 8px;
	border: 2px solid #e9e9e9;
	background-color: #fff;
	cursor: pointer;
	border-radius: 50%;
	vertical-align: middle
}
.rc-slider-dot-active {
	border-color: #96dbfa
}
.rc-slider-dot-reverse {
	margin-right: -4px
}
.rc-slider-disabled {
	background-color: #e9e9e9
}
.rc-slider-disabled .rc-slider-track {
	background-color: #ccc
}
.rc-slider-disabled .rc-slider-dot, .rc-slider-disabled .rc-slider-handle {
	border-color: #ccc;
	box-shadow: none;
	background-color: #fff;
	cursor: not-allowed
}
.rc-slider-disabled .rc-slider-dot, .rc-slider-disabled .rc-slider-mark-text {
	cursor: not-allowed!important
}
.rc-slider-vertical {
	width: 14px;
	height: 100%;
	padding: 0 5px
}
.rc-slider-vertical .rc-slider-rail {
	height: 100%;
	width: 4px
}
.rc-slider-vertical .rc-slider-track {
	left: 5px;
	bottom: 0;
	width: 4px
}
.rc-slider-vertical .rc-slider-handle {
	margin-left: -5px;
	touch-action: pan-y
}
.rc-slider-vertical .rc-slider-mark {
	top: 0;
	left: 18px;
	height: 100%
}
.rc-slider-vertical .rc-slider-step {
	height: 100%;
	width: 4px
}
.rc-slider-vertical .rc-slider-dot {
	left: 2px;
	margin-bottom: -4px
}
.rc-slider-vertical .rc-slider-dot:first-child, .rc-slider-vertical .rc-slider-dot:last-child {
	margin-bottom: -4px
}
.rc-slider-tooltip-zoom-down-appear, .rc-slider-tooltip-zoom-down-enter, .rc-slider-tooltip-zoom-down-leave {
	animation-duration: .3s;
	animation-fill-mode: both;
	display: block!important;
	animation-play-state: paused
}
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active, .rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active {
	animation-name: rcSliderTooltipZoomDownIn;
	animation-play-state: running
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
	animation-name: rcSliderTooltipZoomDownOut;
	animation-play-state: running
}
.rc-slider-tooltip-zoom-down-appear, .rc-slider-tooltip-zoom-down-enter {
	transform: scale(0);
	animation-timing-function: cubic-bezier(.23, 1, .32, 1)
}
.rc-slider-tooltip-zoom-down-leave {
	animation-timing-function: cubic-bezier(.755, .05, .855, .06)
}
@keyframes rcSliderTooltipZoomDownIn {
	0% {
		opacity: 0;
		transform-origin: 50% 100%;
		transform: scale(0)
}
	to {
		transform-origin: 50% 100%;
		transform: scale(1)
}
}
@keyframes rcSliderTooltipZoomDownOut {
	0% {
		transform-origin: 50% 100%;
		transform: scale(1)
}
	to {
		opacity: 0;
		transform-origin: 50% 100%;
		transform: scale(0)
}
}
.rc-slider-tooltip {
	position: absolute;
	left: -9999px;
	top: -9999px;
	visibility: visible
}
.rc-slider-tooltip, .rc-slider-tooltip * {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.rc-slider-tooltip-hidden {
	display: none
}
.rc-slider-tooltip-placement-top {
	padding: 4px 0 8px
}
.rc-slider-tooltip-inner {
	padding: 6px 2px;
	min-width: 24px;
	height: 24px;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #6c6c6c;
	border-radius: 6px;
	box-shadow: 0 0 4px #d9d9d9
}
.rc-slider-tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
	bottom: 4px;
	left: 50%;
	margin-left: -4px;
	border-width: 4px 4px 0;
	border-top-color: #6c6c6c
}
button.share {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 180px;
	height: 120px;
	padding: 1rem;
	color: #333;
	border: 2px solid transparent;
	border-radius: 4px;
	background: #f6f6f6;
	font-size: 12px;
	font-weight: 700
}
button.share img, button.share svg {
	max-width: 50px;
	height: auto;
	margin-bottom: 1rem
}
button.share:focus, button.share:hover {
	cursor: pointer;
	border-color: #c00
}
.print-content {
	display: none
}
.link-arrow-right {
	padding-right: 1rem;
	background-image: url("data:image/svg+xml;
	charset=utf-8,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' overflow='visible' preserveAspectRatio='none' width='8' height='14'%3E%3Cpath d='M1.3 13c-.165 0-.3-.14-.3-.315 0-.084.032-.165.088-.225l5.188-5.462-5.188-5.463a.328.328 0 01.008-.446.29.29 0 01.416 0l5.4 5.686a.328.328 0 010 .447l-5.4 5.686a.292.292 0 01-.211.092z' vector-effect='non-scaling-stroke' stroke='%23e2001a' fill='%23e2001a'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 100%
}
.footer-row {
	position: relative;
	min-height: 90px;
	margin-top: 2rem
}
.footer-row h2 {
	margin-top: 0
}
.share-buttons-wrapper {
	margin: 2rem 0
}
@media screen and (min-width:980px) {
	.share-buttons-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0
}
}
.share-buttons-wrapper .share-buttons {
	display: inline-flex;
	align-items: center;
	justify-items: center
}
.share-buttons-wrapper .share-buttons .share-pdf {
	margin: 0 1rem
}
label {
	display: inline-block;
	margin-bottom: .3rem;
	font-weight: 700
}
.multi-step .progtrckr {
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	min-height: 6rem;
	margin-bottom: 4rem;
	padding: 0;
	list-style: none
}
.multi-step .progtrckr li {
	position: relative
}
.multi-step .progtrckr li:after {
	content: "";
	position: absolute;
	z-index: 0;
	top: 14px;
	left: 0;
	width: 100vw;
	height: 2px;
	background-color: #c00
}
.multi-step .progtrckr li:last-child:after {
	display: none
}
.multi-step .progtrckr li.progtrckr-doing:after, .multi-step .progtrckr li.progtrckr-todo:after {
	background-color: #ccc
}
.multi-step .progtrckr li em {
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	color: #fff;
	border-radius: 50%;
	background-color: #c00;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	line-height: 14px;
	z-index:1
}
.multi-step .progtrckr li.progtrckr-todo em {
	background-color: #ccc
}
.multi-step .progtrckr li span {
	position: absolute;
	top: 40px;
	left: 0;
	padding-left: 30px;
	transform: translateX(-50%);
	white-space: nowrap
}
.multi-step .progtrckr li:first-child span {
	padding-left: 0;
	transform: none
}
.multi-step .progtrckr li:last-child span {
	right: 0;
	left: auto;
	padding-left: 0;
	transform: none
}
.footer-buttons {
	display: flex;
	justify-content: space-between
}
.footer-buttons .pull-right {
	margin-left: auto
}
.required-text {
	margin: 0 0 3rem
}
.required-indicator:after {
	content: "*";
	margin-left: .2em;
	color: #c00
}
.flex {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px
}
.flex>* {
	flex: 1;
	margin: 0 10px
}
.flex-shrink {
	flex: none!important
}
.flex--two-col>* {
	flex: 0 0 100%;
	width: calc(100% - 20px);
	margin: 10px;
	max-height: 380px; /*to reduce white space between top part and selection area*/
}
@media screen and (min-width:980px) {
	.flex--two-col>* {
		flex: 0 0 50%;
		max-width: calc(50% - 20px)
}
}
h2 {
	font-weight: 400
}
a, h2 {
	color: #c00
}
.font-lg {
	font-size: 24px
}
.form-row {
	margin-bottom: 45px
}
.btn {
	padding: 6px 18px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px
}
.btn:not(.btn-disabled):focus, .btn:not(.btn-disabled):hover {
	cursor: pointer;
	box-shadow: 0 9px 50px rgba(0, 0, 0, .15)
}
.btn-primary {
	color: #fff;
	background-color: #c00
}
.btn-primary:not(.btn-disabled):focus, .btn-primary:not(.btn-disabled):hover {
	background-color: #9d0000
}
.btn-primary.arrow-right {
	padding-right: 64px;
	background-image: url("data:image/svg+xml;
	charset=utf-8,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' overflow='visible' preserveAspectRatio='none' width='8' height='14'%3E%3Cpath d='M1.3 13c-.165 0-.3-.14-.3-.315 0-.084.032-.165.088-.225l5.188-5.462-5.188-5.463a.328.328 0 01.008-.446.29.29 0 01.416 0l5.4 5.686a.328.328 0 010 .447l-5.4 5.686a.292.292 0 01-.211.092z' vector-effect='non-scaling-stroke' stroke='%23fff' fill='%23fff'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center right 15px
}
.btn-secondary {
	color: #c00;
	border: 2px solid #ececec;
	background-color: transparent
}
.btn-secondary.arrow-left {
	padding-left: 64px;
	background-image: url("data:image/svg+xml;
	charset=utf-8,%3Csvg version='1.2' overflow='visible' preserveAspectRatio='none' width='8' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.7 1c.165 0 .3.14.3.315a.325.325 0 01-.088.225L1.724 7.002l5.188 5.463a.328.328 0 01-.008.446.29.29 0 01-.416 0l-5.4-5.686a.328.328 0 010-.447l5.4-5.686A.292.292 0 016.699 1z' vector-effect='non-scaling-stroke' stroke='%23e2001a' fill='%23e2001a'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center left 15px
}
.btn-disabled {
	opacity: .2
}
.App {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.4
}
.App h1, .App h2, .App h3, .App h4 {
	font-family: Helvetica Neue eText Pro Light, Helvetica, sans-serif
}
hr {
	margin: 2rem 0;
	border: none;
	border-top: 1px solid #ccc
}
.justify-content-end {
	justify-content: flex-end
}
.justify-content-end>* {
	flex: none
}
